[2019-03-01 18:00] trberg opened #1 "Building Mortality Models"

[2019-03-01 18:01] trberg opened #2 "Run Mortality Models on Internal Data"

[2019-03-01 18:04] trberg opened #3 "Create Wiki on Synapse"

[2019-03-01 18:07] trberg opened #4 "Build UW infrastructure"
Pilot a pipeline that pulls docker submissions from Synapse into UW RIT environments that will train and test on UW OMOP data.

[2019-03-18 16:29] jprosser commented on #4
Hey @trberg
Are you good with the "con4" server in this regard?

[2019-03-18 16:41] trberg commented on #4
I think so. Currently, we have only 2 cores available, would it be possible to scale up to a few more? @jprosser

[2019-03-18 16:43] trberg opened #5 "Develop Synapse management pipeline"

[2019-03-18 17:25] thomasyu888 commented on #3
The challenge site was already created by @tschaffter

[2019-03-18 17:31] jprosser commented on #4
Yep, we can bump that up.  I've reserved 6, but there's room for growth there.

[2019-03-18 17:43] trberg opened #6 "Add data and resource information and descriptions"
Documentation: https://www.synapse.org/#!Synapse:syn18405992/wiki/589659

[2019-03-18 17:43] trberg opened #7 "Add instructions for submissions"

[2019-03-18 17:44] #3 closed

[2019-03-19 21:30] tschaffter opened #8 "Provide challenge data to Sage to enable development and testing of the submission infrastructure"
Background: Sage is taking care of developing the IT infrastructure responsible for:

1. Pulling participant submissions from Synapse (Docker images)
2. Run the submissions (training, inference) and push results to Synapse

Task: Provide Sage with the following components to enable the development and testing of the IT infrastructure for the EHR Challenge:

- [x] Data (synthetic training and evalu

[2019-03-19 21:37] tschaffter commented on #5
The existing solution developed by Sage - the Synapse Workflow Hook - will be adapted to meet the requirements of the EHR Challenge. An initial version of the IT infrastructure could be deployed on Sage EC2 instances in a few days once the following requirements are met: #8

[2019-03-19 21:45] tschaffter opened #9 "Draft the challenge timeline"
**Background:** DREAM challenges typically provides a figure representing the timeline of the challenge. This figure, which is often used in presentations too, should provide participants with the start and end date of the different phases of the challenge (open phase, leaderboard rounds, validation phase). Here is an example of timeline:

![image](https://user-images.githubusercontent.com/3056480

[2019-03-19 21:50] tschaffter opened #10 "Come up with 4-5 suggestions of names for this challenge"
On March 18, Justin Guinney asked us to come up with 4-5 suggestions of names for this challenge.

Notes:

- The "Patient mortality Challenge" name used in some documents is too specific as this challenge will address additional questions (?)

[2019-03-19 22:22] tschaffter commented on #10
Suggestions of challenge names are tracked here: https://docs.google.com/spreadsheets/d/1lic5nzztFwH-7upE4mA9m7vtXi-0eYc-07e0jWQW03A/edit#gid=0

[2019-03-19 22:47] tschaffter opened #11 "Fill in challenge pre-registration page on Synapse"
**Background:** The pre-registration page for the EHR Challenge is available here: https://www.synapse.org/#!Synapse:syn18405991/wiki/589657. The goal of this page is to provide information about the challenge (Overview, Challenge Organizers, Data Contributors, Journal Partners, Funders and Sponsors). This page also enable Synapse users to pre-register in order to receive news about the challenge

[2019-03-19 23:03] tschaffter opened #12 "Provide list of organizing institutions and partners"
https://docs.google.com/spreadsheets/d/1dSFPVD_T7QprB-dzRZsFFxdmt5qGngU9EuYUY-Oy2DM/edit#gid=0

[2019-03-19 23:07] trberg opened #13 "Submit revised IRB request"
Original IRB was narrow in scope, limiting who could submit models. New IRB will expand the challenge to enable public submissions

[2019-03-19 23:08] tschaffter opened #14 "Create challenge advertisement material"
**Background:** DREAM Challenges usually have a graphic banner that advertises the challenge on the home page of the wiki. A placeholder for this banner is actually included in the DREAM Challenge Wiki Template which has been used for the [EHR Challenge Staging project](https://www.synapse.org/#!Synapse:syn18405992/wiki/589658). The banner usually includes: 1) the full name of the challenge, 2) on

[2019-03-19 23:09] tschaffter commented on #14
Here are example of banners for past DREAM Challenges:

- https://www.synapse.org/#!Synapse:syn16924919/wiki/583955

[2019-03-19 23:13] tschaffter commented on #14
Example of banners from past/current DREAM challenges on Synapse:

- [Malaria DREAM challenge](https://www.synapse.org/#!Synapse:syn16924919/wiki/583955)
- [Tumor Deconvolution DREAM Challenge](https://www.synapse.org/#!Synapse:syn15589870/wiki/582446)
- [IDG-DREAM Drug-Kinase Binding Prediction Challenge](https://www.synapse.org/#!Synapse:syn15667962/wiki/583305)

[2019-03-19 23:24] tschaffter opened #15 "Provide synthetic data to Sage for infrastructure development and testing"
- Upload synthetic data, for example to [EHR Challenge Staging project](https://www.synapse.org/#!Synapse:syn18405992/files/)

[2019-03-19 23:25] tschaffter commented on #15
@yy6linda I see the file [synpuf.zip](https://www.synapse.org/#!Synapse:syn18420930) in EHR Challenge Staging project. Can you confirm that this is what we should use for developing the IT infrastructure?

[2019-03-19 23:49] tschaffter opened #16 "Identify the Challenge Questions"
- Describe the Challenge Question(s) that participants will address
   - Include a brief description of the input data. Another page is used to provide detailed information about the data.
   - Describe the format of the predictions that models must generate

Please add content to the wiki page [2.1 - Challenge Questions](https://www.synapse.org/#!Synapse:syn18405992/wiki/590481)

[2019-03-19 23:49] tschaffter commented on #11
Examples of pre-registration pages:

- [Malaria DREAM challenge](https://www.synapse.org/#!Synapse:syn16924919/wiki/583955)
- [Tumor Deconvolution DREAM Challenge](https://www.synapse.org/#!Synapse:syn15589870/wiki/582446)

[2019-03-19 23:54] tschaffter opened #17 "Identify evaluation metrics"
- Identify and describe evaluation metrics used to score submissions
- Add description to this [wiki page](https://www.synapse.org/#!Synapse:syn18405992/wiki/590483)

[2019-03-20 01:03] yy6linda commented on #15
Yes

[2019-03-20 01:05] tschaffter commented on #15
Thanks!

[2019-03-20 01:05] #15 closed

[2019-03-22 16:27] tschaffter commented on #16
@trberg Do we have already a good idea of what the challenge question(s) are? Do we know what the output of the participating models should look like (e.g. `subjectId \TAB confidenceLevel`)? Can you create an early draft that describes the challenge question(s) on the wiki page reference above?

[2019-03-22 16:28] tschaffter commented on #14
@trberg @yy6linda What would be a good illustration to put on the challenge banner? Please feel free to list here any suggestions that you may have.

[2019-03-22 16:30] tschaffter commented on #12
@trberg Can you do a first pass on the above document and add all the contributing organization that you know (Challenge organizer, data contributor, journal partners, sponsors, etc.)?

[2019-03-22 16:32] trberg commented on #14
@tschaffter I'm working on a first draft of the banner. I'll post for feedback.

[2019-03-22 16:37] tschaffter commented on #10
@trberg Let's brain storm ideas of the challenge here. What are the components that characterize this challenge?

- Data: the use of Electronic Health Records; Are there other aspects that characterize these data?
- Clinical application: predict mortality; Are there other questions that we want to ask during this (first) challenge?
- What else?

[2019-03-22 16:39] tschaffter commented on #8
@trberg @yy6linda Do we know when the above required elements will be ready for us to test the IT infrastructure?

[2019-03-22 16:40] tschaffter commented on #14
Awesome! I have experienced working with Adobe Illustrator in case you are using it and have questions.

[2019-03-22 17:13] trberg commented on #10
@tschaffter
Data: currently, we have data from three hospitals from the Seattle area, Harborview Medical Center, UW Medical Center, and Northwest Hospital.
Application: The first question is just mortality, but I think we'll be asking more questions in the future.
I've started a brainstorming list for the catchy name [here](https://docs.google.com/document/d/14PAr_Ha4UpVvVnTCrVOGsffHd8qlYhnzciD6y9

[2019-03-22 19:03] trberg commented on #14
@tschaffter Here is my first attempt at the challenge banner
![DREAM_banner](https://user-images.githubusercontent.com/19157622/54846990-62eec300-4c9a-11e9-88f3-91c66c622aed.png)

[2019-03-22 19:07] trberg commented on #8
@tschaffter
So @yy6linda has submitted quite a few models into the evaluation pipeline that could be used.
The "gold standard" data, I thought, was in the synthetic dataset. I'm confused about what this means. Do you need an "answer file"? Like the patient list with 0 and 1 for mortality status?
By scoring script, do you just mean taking the predictions and comparing them to the gold standard answ

[2019-03-22 19:09] #2 closed

[2019-03-22 19:15] trberg commented on #12
Okay, added the info. We don't currently have a journal partner, not sure
if we'll be pursuing that or not.

On Fri, Mar 22, 2019 at 9:31 AM Thomas Schaffter <notifications@github.com>
wrote:

[2019-03-22 20:06] yy6linda commented on #8
Do I need to resubmit docker images for IT infrastructure test?

[2019-03-22 20:41] trberg commented on #9
@tschaffter I've created a draft of the challenge timeline. It is currently up on the [EHR Challenge wiki](https://www.synapse.org/#!Synapse:syn18405992/wiki/589658)

[2019-03-22 21:18] #13 closed

[2019-03-23 02:32] trberg commented on #8
@tschaffter I've uploaded a [newer version](https://www.synapse.org/#!Synapse:syn18460049) of the synpuf dataset. I've split this data into a training and validation set and created the "gold standard" file with patient ids and mortality status within 6 months after the end date of the validation set.

[2019-03-23 02:36] trberg commented on #8
@tschaffter The scoring script is just going to be a comparison between the output of the model from @yy6linda, which is being put into /data/predictions/ in the docker and the /evaluate/evaluation_patient_status.csv file. Do you need that written?

[2019-03-25 16:17] tschaffter commented on #8
@trberg Where is the gold standard for the new synpuf validation set? Will this file have two columns, 1) `person_id` and 2) a column with 0 and 1 whether the person is dead after 6 month?

Here is the structure of the new Synpuf data that I see:

[code]

Yes. Please also describe how to run this script and what the expected output is.

@yy6linda Given you give Tom and me:
- a docker image that ta

[2019-03-25 16:19] #9 closed

[2019-03-25 16:23] tschaffter commented on #10
Thanks Tim! This is enough to have a productive discussion during our next meeting.

[2019-03-25 16:23] #10 closed

[2019-03-25 16:27] #12 closed

[2019-03-25 16:58] tschaffter commented on #14
@trberg This banner looks nice! For a production version, the art (cross, chain) could be remade in vector graphics to avoid having pixelized effect. From the bitmap image that you probably have, Adobe Illustrator has a great tool to segment it and create a vector version.

@jguinney I found out that Sage has designers that can do the banner for us if this is a DREAM Challenge. These designers hav

[2019-03-25 17:32] trberg commented on #8
@tschaffter the gold standard is synpuf_clean/evaluate/evaluation_patient_status.csv

@yy6linda can you create a simple script to generate an auc from that file and the file your model outputs? I'm not in a position to do that at the moment

[2019-03-25 17:34] yy6linda commented on #8
@trberg No worries! I will take care of it.

[2019-03-25 19:24] yy6linda commented on #8
@tschaffter I just uploaded a new docker image to the EHR staging platform. The name of the image is keras_0325:v0.1
This image contains two python scripts:
train.py: extract features from the omop train folder and train a neural network model basing on the selected features.

infer.py: apply models to validation set and output 3-month mortality risk for patients in the validation set.

To run the

[2019-03-26 16:35] yy6linda commented on #8
@tschaffter Please use the updated command
Step1.
docker run --mount type=bind,source="$(pwd)"/omop,target=/app/omop --mount type=bind,source="$(pwd)"/data,target=/app/data --mount type=bind,source="$(pwd)"/prediction,target=/app/prediction --mount type=bind,source="$(pwd)"/model,target=/app/model docker.synapse.org/syn18405992/keras_0325:v0.1 bash "/app/train.sh"

Step2.
docker run --mount type=b

[2019-03-26 18:23] tschaffter commented on #8
Note: Waiting for review from Yao

1. Download `synpuf_train_validate_evaluate.zip` and extract
[code]

2. Run the train image
[code]

3. Run the inference image
[code]

4. Score the predictions
  - Download the scoring script
[code]
  - Run the scoring script
[code]

5. Upload score to Synapse

Good practice: [Processes In Containers Should Not Run As Root](https://medium.com/@mccode/processes-in

[2019-03-26 19:30] yy6linda commented on #8
@tschaffter  I modified the docker image according to the steps you mentioned above and just uploaded the modified image(docker.synapse.org/syn18405992/keras_0326:v0.1 ) to EHR Challenge - staging.

[2019-03-27 04:24] tschaffter commented on #8
@thomasyu888 I have compiled in my previous post the different components required for us to start putting in place the challenge workflow hook. Do you have bandwidth to start putting it in place? Thanks!

[2019-04-01 02:01] trberg commented on #14
Okay, I've rebuilt the banner using Adobe Illustrator. (still need to add the logos)
![DREAM_Banner](https://user-images.githubusercontent.com/19157622/55299331-61827080-53e7-11e9-9ce0-8a3ee90a726f.png)

[2019-04-11 17:30] trberg commented on #8
@tschaffter can we close this issue?

[2019-04-11 21:30] #8 closed

[2019-05-10 23:41] trberg opened #18 "Review of the challenge data curation script"
Jupyter notebook describing the curation of the data: https://github.com/data2health/DREAM-Challenge/tree/master/documentation

[2019-05-10 23:44] trberg opened #19 "Apply Sage submission pipeline to UW environments"

[2019-05-10 23:46] trberg opened #20 "Convert Measurements and Observations to Snomed"

[2019-05-10 23:51] #14 closed

[2019-05-10 23:51] #11 closed

[2019-05-10 23:53] trberg opened #21 "Incorporate new UW data into challenge data"

[2019-05-10 23:54] #1 closed

[2019-05-21 23:14] tschaffter opened #22 "Prepare 10-min presentation for DREAM Directors (May 28)"
On May 28, I'll be giving a 10-min overview of the EHR DREAM Challenge during the DREAM Directors meeting.

Here are the information that I plan to include:

- Identity of the organizers and partner organizations
- Scientific questions
- Timeline
- Data
  - Source of data: synpuf, UW data
  - Description of the population and curation protocol
- Scoring metrics
- Submission & IT infrastructure
- B

[2019-05-21 23:18] tschaffter opened #23 "Test challenge infrastructure at UW"
@thomasyu888 tested the challenge infrastructure on Sage network using a part of the Synpuf data and one of Yao's model. The goal of this task is for Tim to confirm that he can run the infrastructure on UW network using the instructions provided by Tim. Once done, the next step will be to have the infrastructure deployed by NCATS.

[2019-05-21 23:18] tschaffter commented on #23
@trberg Do you have an update regarding this task?

[2019-05-21 23:21] tschaffter opened #24 "Document how to build and run the baseline method"
The goal of this task is to provide a description of how to dockerize and run locally the baseline model developed by Yao.

Baseline codebase: https://github.com/yy6linda/mortality_prediction_docker_model

[2019-05-21 23:22] tschaffter commented on #24
@yy6linda As discussed, I'll review the current README.md and submit my suggestion via pull request.

[2019-05-21 23:23] tschaffter commented on #18
@trberg Do we already have a document that describes the curation protocol?

[2019-05-21 23:28] tschaffter commented on #19
Duplicate of #23

[2019-05-21 23:28] #19 closed

[2019-05-21 23:31] tschaffter commented on #5
Update: Sage has developed an initial version of the challenge infrastructure that @thomasyu888 has then implemented. The infrastructure code and documentation have been provided @trberg , who is now testing it on UW.

This ticket will be closed once #23 has been completed.

[2019-05-21 23:33] tschaffter commented on #4
@trberg Is this tread redundant with #23 ?

[2019-05-21 23:36] tschaffter commented on #17
On Monday 13, we have decided to use the following scoring metrics:

- Primary: AUC  (enables to compare across different cohorts)
- Secondary: AUPR (deals with the unbalanced dataset that we have)

[2019-05-21 23:36] #17 closed

[2019-05-21 23:42] tschaffter commented on #16
@trberg Can you comment on this task? In particular

- Do we have only one challenge where we asked participants to predict the mortality withing 6 months? Or are we still considering sub-challenges where participants would have to predict within different time ranges?
  - If we are still considering more than one sub-challenge ("within 6 months"), what should we do to settle the question?
- Will

[2019-05-28 17:56] tschaffter commented on #22
The slides are available here: https://drive.google.com/open?id=1IChM6jouD3J4s8yRcfyKuiVP2j1Ia40n

[2019-05-28 17:56] #22 closed

[2019-05-28 17:57] tschaffter commented on #23
@trberg Do you have an update regarding this task?

[2019-05-28 18:09] tschaffter opened #25 "Deploy and test challenge infrastructure at NCATS"
Justin mentioned that NCATS will host the synthetic data (Synpuf and/or Wash U) while the challenge data will be hosted at UW.

Notes:
- If we want to automatically run the models on Synpuf data before running on the real data, then a copy of Synpuf data must be hosted on UW cloud.
  - [x] Is it really beneficial to run model on Synpuf data before running on the challenge data? The answer depends

[2019-05-28 20:26] tschaffter commented on #24
@yy6linda I just made a pull request to integrate some changes to your repository of the baseline method.

https://github.com/yy6linda/mortality_prediction_docker_model/pull/1

[2019-05-29 01:50] trberg commented on #23
@tschaffter still working on it. The new data dump put me back a little bit.

[2019-05-29 16:11] tschaffter commented on #25
Ask to get access to the NCATS machines so we could deploy ourselves.

[2019-05-29 16:11] tschaffter opened #26 "Improve workflow hook to enable horizontal deployment"
Tess Thyer at Sage is working on improving the Synapse Workflow Hook (used in this challenge) to support among other horizontal deployment of Toil engines to process more submissions when under heavy load.

While horizontal deployment is not a requirement for this challenge, this could be a nice feature to have. This will also be a requirement for the infrastructure that we will deploy at NCATS in

[2019-05-29 16:21] tschaffter commented on #6
Documentation needs to be reviewed by:
- [x] @tschaffter
- [x] @yy6linda

[2019-05-29 16:24] tschaffter commented on #18
Need to be reviewed by:

- [ ] @tschaffter
- [x] @yy6linda (validator)

[2019-05-29 16:39] tschaffter commented on #21
Update: Tim says that the new data are in the database.

[2019-05-29 16:39] #21 closed

[2019-05-29 16:39] tschaffter commented on #16
An idea is to create sub-challenges based on different diseases, e.g. cancer, coronary heart disease, type-II diabetes, chronic obstructive pulmonary disease.

[2019-05-29 16:43] tschaffter opened #27 "Consider creating sub-challenges where patients are grouped by diseases"
E.g. cancer, coronary heart disease, type-II diabetes, chronic obstructive pulmonary disease.

@yy6linda Could you have a look at the number of patients who died for each of these disease?

[2019-05-29 16:45] tschaffter opened #28 "Make a proposal for the content of the evaluation set for the Validation Phase"
- consider using both existing data and data that will be collected in the future
- report number of positive and negative subjects expected to have in this evaluation set
- make a new proposal for the timeline that include the period required to collect the data

[2019-05-29 16:46] tschaffter commented on #27
@yy6linda As a reminder, let's not upload any information about the dataset on this GitHub repos!

[2019-05-29 16:48] trberg opened #29 "Finalize Terms of Use and SNOMED license"

[2019-05-29 16:50] trberg opened #30 "Finalize Licenses and MoU with Julie"
Send SNOMED use license language and finalize the MoU with Sean and Julie

[2019-05-29 16:50] #29 closed

[2019-06-03 15:31] tschaffter commented on #26
I'll meet Tess this week to discuss with her the improvements that can be brought to the Synapse Workflow Hook.

[2019-06-03 15:50] tschaffter commented on #25
I have contacted NCATS today in an attempt to identify the resources that they could provide for this project.

[2019-06-03 15:52] tschaffter commented on #24
I'll contact Yao today to find a time this week to review and finalize this doc.

[2019-06-03 15:58] tschaffter commented on #18
I should be able to review this documentation today or tomorrow.

@yy6linda Can you please carefully review the Jupyter notebooks that Tim wrote to refined the datasets? This is a critical step to prevent the risk of having bugs affecting the curated data.

[2019-06-03 16:00] tschaffter commented on #7
The documentation will be available here: https://www.synapse.org/#!Synapse:syn18404606/wiki/589619

[2019-06-03 16:01] tschaffter commented on #7
Blocking this ticket as we first need to finalize the format of the submission (in particular the environment variables that we want to provide).

[2019-06-03 16:02] tschaffter commented on #6
I should be able to review this documentation today or tomorrow.

[2019-06-03 22:56] yy6linda commented on #18
Sure, will do.

On Tue, Jun 4, 2019 at 12:03 AM Thomas Schaffter <notifications@github.com>
wrote:

[2019-06-03 23:06] yy6linda commented on #27
@tschaffter The dataset I used to calculate the number of patients with a certain disease is a subset of the full dataset. I will re-calculate all the statistics when the full dataset is ready.

[2019-06-06 18:10] yy6linda commented on #6
I added some suggestion on the google doc provided by Thomas.  https://docs.google.com/document/d/1V2kCHHJnjHFUGiWLc09tgUYDSLo6Q3J1KoAZQkvGGSg/edit#

[2019-06-10 14:55] tschaffter commented on #5
Closing this ticket as the submission pipeline is ready. Testing at UW is tracked in #23.

[2019-06-10 14:55] #5 closed

[2019-06-10 14:57] tschaffter commented on #27
Now tracked in #16

[2019-06-10 14:57] #27 closed

[2019-06-10 15:00] tschaffter commented on #24
Yao and I have reviewed the main part of the documentation. The last part is about giving a few tips to participants on how to dockerize their method.

[2019-06-10 15:04] tschaffter commented on #26
I met Tess last week. Work are in progress to one day support horizontal development, however this feature will not be available for the EHR DREAM Challenge: Patient Mortality Prediction.

[2019-06-10 15:04] #26 closed

[2019-06-10 15:09] yy6linda commented on #18
I will work on this today.

[2019-06-10 15:36] tschaffter opened #31 "Identify how best use the WashU synthetic dataset"
These are "meaningful" synthetic data that we could use for a sub-challenge, for example.

We have a call with Randi on June 18 between 8 and 9am PDT.

- [x] Contact Randi for additional information about the dataset (number of positive, etc.)
- [x] Depending on the number, prepare a proposal on how we recommend using the data

[2019-06-10 17:34] trberg commented on #23
We have run an initial test with the new pipeline

[2019-06-10 17:34] trberg commented on #23
@yy6linda and @trberg are going to be running a stress test on June 10 to finalize the configuration

[2019-06-10 17:35] #20 closed

[2019-06-10 17:36] trberg commented on #4
The pipeline has been run through initial tests

[2019-06-10 17:36] trberg commented on #4
@yy6linda and @trberg are going to be running a stress test on June 10 to finalize the configuration

[2019-06-14 17:34] yy6linda commented on #18
I can't run the code directly to validate it because I don't have access to the database. @trberg Shall we find a time to meet and go over the code on your machine.

[2019-06-20 23:45] tschaffter opened #32 "Prepare material for the next DREAM newsletter"
From Julie:

We are now aiming for end of July to align with an announcement for a challenge for the Allen Institute. Just plan to have something to me by mid July.
Thanks

[2019-07-08 17:52] tschaffter commented on #32
Note from Julie Bletz on July 5:

[2019-07-16 14:32] tschaffter commented on #30
@trberg Can you please provide an update regarding this action item?

[2019-07-16 14:39] tschaffter opened #33 "Instantiate UW server replica and give access to Sage IT Engineers"
There are currently technical issues that prevent UW engineers to run the challenge infrastructure developed by Sage on their server. In order to speed up the resolution of the process, it has been decided yesterday that @jprosser will instantiate a second server which has the same configuration (at least OS and security wise) than the server that will be used for the challenge. This replica will

[2019-07-16 14:42] tschaffter opened #34 "Troubleshoot challenge infrastructure issues relative to the configuration of UW servers"
Waiting on #33 to get access to the UW server on which we will troubleshoot the issues that the challenge infrastructure has due to the specific configuration of the UW servers.

[2019-07-16 14:45] tschaffter commented on #6
@trberg Have you addressed the suggestion that Yao and I shared in the above document? Is the documentation of the challenge data on the staging website complete?

[2019-07-16 14:46] tschaffter commented on #4
There are currently issues that are blocking this ticket. These issues are tracked in #33 and #34.

[2019-07-16 14:47] tschaffter commented on #7
@yy6linda Is this documentation complete?

[2019-07-16 14:51] tschaffter commented on #18
@yy6linda Have you and @trberg met to review together the content of the curation script? Since we are still in the process of finalizing the preparation of the challenge data, I would recommend that you meet again to review the finalized script. This script should be then uploaded to Synapse staging and its location mentioned in the document where we describe the preparation of the data.

[2019-07-16 14:51] tschaffter commented on #23
There are issues that prevent the deployment of the challenge infrastructure on UW server. These issues are tracked in #33 and #34.

[2019-07-16 14:52] tschaffter commented on #24
Update: I'll attempt to review the second part of this documentation this week.

[2019-07-16 14:57] tschaffter commented on #25
**Update:** James and I had calls with the NCATS teams several times in the past 3 weeks. Last week, we clarified the resources that we need NCATS to provide for this EHR DREAM Challenge. We also agreed on a timeline for getting access to these resources.

Here is the document that I share with NCATS and that describes the challenge infrastructure, required resources and timeline: [NCATS Infrastru

[2019-07-16 14:57] tschaffter commented on #28
@trberg Can you please provide an update regarding this action item?

[2019-07-16 15:04] tschaffter commented on #31
@jguinney @sdmooney @trberg Randi presented how the WashU data are generated. Generating a dataset for the challenge will however be difficult because the dataset generated would be missing many of the EHR tables/properties that are expected to be found in a standard EHR.

While WashU data may not be used for the challenge itself, it could be used to address additional questions after the end of t

[2019-07-16 15:06] tschaffter commented on #31
@jguinney @sdmooney @trberg Randi will be at the CD2H All Hands F2F Meeting and is looking forward to meet and discuss on how to best use the WashU data in the context of this EHR DREAM Challenge.

[2019-07-16 16:04] yy6linda commented on #18
Not yet, but I will talk to Tim

[2019-07-16 23:04] trberg commented on #30
Sean and Justin are still discussing the details.

On Tue, Jul 16, 2019, 7:33 AM Thomas Schaffter <notifications@github.com>
wrote:

[2019-07-16 23:06] trberg commented on #6
I believe so, yes

On Tue, Jul 16, 2019, 7:45 AM Thomas Schaffter <notifications@github.com>
wrote:

[2019-07-16 23:07] trberg commented on #28
Yes, we have decided to use the "prediction window" technique as described
in our data description document.

On Tue, Jul 16, 2019, 7:59 AM Thomas Schaffter <notifications@github.com>
wrote:

[2019-07-17 00:54] #6 closed

[2019-07-18 03:44] jguinney opened #35 "Identify base-line models from literature"

[2019-07-18 03:45] jguinney opened #36 "Engage CTSA centers with mortality models"

[2019-07-18 03:46] jguinney commented on #35
Baseline models identified and reviewed

[2019-07-18 03:46] #35 closed

[2019-08-13 16:45] #33 closed

[2019-08-13 16:46] #4 closed

[2019-08-13 16:46] #16 closed

[2019-08-13 16:46] #18 closed

[2019-08-13 16:46] #28 closed

[2019-08-13 16:47] trberg commented on #31
Currently, we are in the process of working with WashU to not just used their synthetic data, but their non-synthethic OMOP repository for this challenge.

[2019-08-13 16:48] trberg commented on #23
Infrastructure has been tested. Ongoing troubleshooting and configuration is being tracked in #34

[2019-08-13 16:49] #23 closed

[2019-08-13 16:50] trberg commented on #32
@tschaffter the newsletter was sent out correct? Can we close this issue?

[2019-08-13 18:04] #7 closed

[2019-08-14 00:32] tschaffter commented on #32
@trberg Yes, the EHR Challenge has been featured in the DREAM newsletter sent on August 5.

[2019-08-14 00:32] #32 closed

[2019-08-15 20:07] jmcmurry commented on #30
I assume this is a different Julie and not me, but please confirm.

[2019-08-15 22:22] tschaffter commented on #30
@trberg You meant Julie Bletz, correct? Has the license and MOU been finalized?

[2019-10-16 23:57] tschaffter opened #37 "Quota time leads models sent on the fast lane to fail"
On Monday 14, @thomasyu888 reported that models are failing on the NCATS server because they hit the maximum runtime. I believe that the maximum runtime is currently set to 1 hour.

Resolution:
- @thomasyu888 to confirm that the maximum runtime is set to 1h
- @trberg to provide an update regarding the update of the Synpuf data on the NCATS server and how to make the size of the dataset so that met

[2019-10-17 00:03] tschaffter opened #38 "there are some issues on NCATS that lead submissions to stop randomly"
On Monday 14, @thomasyu888 reported that

@thomasyu888 Can you provide a better description of the issue?

[2019-10-17 00:06] tschaffter opened #39 "Make sure that invalid submissions in UW queue are propogated to the main queue"
@thomasyu888 Is this correct that you are doing some work on tiding the submissions IDs? Can you please keep track of what you are doing here and close this ticket once the task is completed?

[2019-10-17 00:09] tschaffter opened #40 "Discussion on whether to return additional information to participants"
@trberg Can you please describe here what the participant who is requesting additional data would like us to provide. Can you also describe the solution that you had in mind on Monday for us to review? Thanks!

[2019-10-17 00:28] thomasyu888 commented on #39
@tschaffter. What do you mean by tiding?

[2019-10-17 00:30] thomasyu888 commented on #38
@tschaffter: https://github.com/Sage-Bionetworks/SynapseWorkflowHook/issues/50. I haven't had a chance to look at it closer

[2019-10-17 00:31] thomasyu888 commented on #37
@tschaffter. Time quota is set to one hour.

[2019-10-17 14:30] tschaffter commented on #39
@thomasyu888 I meant "Tidying up" instead of "Tiding", which is still a loose title for this ticket. Here I'm trying to capture work which I think you mentioned relative to submission IDs. Does that ring a bell?

[2019-10-17 21:48] thomasyu888 commented on #39
Ah. I changed the title.  The workflow is

1. Submit model to main queue,
2. Validated models from 1 are submitted to UW internal queue
3.  Ideally models in 2 would be SCORED, but.... if not, have to make sure that the submissions made in 1 are made INVALID, or else participants won't be able to submit more. (due to the submission quota)

[2019-10-22 21:56] #30 closed

[2019-10-22 21:56] #25 closed

[2019-10-22 21:57] trberg commented on #40
We decided that no additional information needs to be returned at this point in time.

[2019-10-22 21:57] #40 closed

[2019-10-22 21:59] trberg opened #41 "Onboard WashU into the evaluation network."
We are working with Randi to onboard the WashU site into the DREAM Challenge evaluation network.

[2019-10-22 22:00] trberg opened #42 "Onboard Mt. Sinai into the evaluation network."
We are working with the Mt. Sinai site to onboard them into the DREAM Challenge evaluation network.

[2019-10-22 22:09] #34 closed

[2019-10-22 22:09] #31 closed

[2019-10-22 22:40] trberg opened #43 "Adjust gold standard benchmarking answers for 180 days"
We needed to adjust the gold standard benchmarks to calculate time to death of patients using 180 days rather than the 6 month function. This was to make the prediction window more consistent.

[2019-10-22 22:40] #43 closed

[2019-10-31 16:56] tschaffter opened #44 "Onboard Erick Scott to the Challenge Organizer group"
Email address: erick.scott@mssm.edu

- [x] Add to Monday's call calendar invite
- [x] Give access to Google shared folder
- [x] Set up bi-weekly call dedicated to MS (Thomas)
- [x] Give Erick access to Slack
- [x] Add Erick to Synapse groups
- [x] Final step: Send email to Erick to orient him with the access to all these resources

[2019-11-04 17:43] tschaffter commented on #37
Max runtime is 1h on the NCATS server. Establishing a relationship between the max runtime on NCATS and UW server will be addressed in a separate ticket.

[2019-11-04 17:43] #37 closed

[2019-11-04 17:44] tschaffter commented on #38
@thomasyu888 Is there an update for this issue?

[2019-11-04 17:45] tschaffter commented on #39
@thomasyu888 Is there an update for this issue?

[2019-11-04 18:01] thomasyu888 commented on #38
I think this was fixed in the most recent workflowhook fix, but will keep open to make sure.

[2019-11-04 18:01] thomasyu888 commented on #39
There isn't. I'm manually rejecting submissions that pass the synthetic data set but fail on the main UW queue.

[2019-11-04 18:03] tschaffter commented on #39
Is there a way to automatic this task?

[2019-11-04 20:11] trberg opened #45 "Create and release Synthetic Data Version 3"
We have had a couple instances of models passing the fast lane but failing on the real UW data. Most of these seemed to be caused by small discrepancies between the real data and the synthetic data, mainly the presence of null values in the real data and none of those null values in the real data. We will be attempting to address these issues in the next version of the synthetic data.

[2019-11-04 20:13] trberg opened #46 "Create and release the data dictionary"
We have created a list of concepts that appear in more than 100 patients in the UW data. We are currently reviewing this list and plan to release it shortly.
Currently, the codes are uploaded [here](https://www.synapse.org/#!Synapse:syn21116542).

@yy6linda and @tschaffter can you review this data?

[2019-11-04 20:15] thomasyu888 commented on #39
Hmm.. will have to look into this more.    One possible solution is to add a step to check the status of the UW run, and if `INVALID` set the successful submission to the main queue as `REJECTED`. However, there are cases where the rundocker step fails.  In this scenario, we would also need to set the submission to the main queue as `REJECTED`.

Another solution is to have a tool external to the w

[2019-11-04 20:25] trberg opened #47 "Problem with permissions of UW logs"
When the pipeline at UW writes the pipeline generated logfile to Synapse, the permissions are set so that only the ehrdreamservice account can access it. We need to change this so that all log files written to Synapse can be read by the submitter and by the EHR DREAM admin team.

[2019-11-04 20:27] trberg commented on #39
I agree, I think the 2nd solution is an easier short term fix. I've also been using the challengeutils tool to change the status.

[2019-11-04 20:32] thomasyu888 commented on #39
Ya, I have been using challengeutils to update as well.

[2019-11-04 20:33] thomasyu888 commented on #47
The logs were masked on purpose from submitters. I will add the ability for the admin team to read.

[2019-11-04 20:44] trberg commented on #39
Would there be a way to use the challengeutils tool as a cronjob and just check submissions every minute or so?

[2019-11-04 20:45] thomasyu888 commented on #39
That's the second solution.  It would just be a script that queries the two leaderboards, and sets respective submissions to REJECTED. I can implement once I'm back from the dream conference.

[2019-11-04 21:24] tschaffter opened #48 "Participant are unable to see their dashboard"
The dashboard shows an error similar to `is showing Index: -1, Size: 33`.

According to Tim, the dashboard is displayed if there is at least one "successfully" submission. Users with only failed submissions can not see their dashboard.

[2019-11-04 21:25] thomasyu888 commented on #48
This is a known bug in jira. Unknown when fix will occur.

[2019-11-04 21:27] tschaffter commented on #38
I'm actually closing this ticket. We can reopen it if the issue occurs again.

[2019-11-04 21:27] #38 closed

[2019-11-04 21:43] tschaffter commented on #48
Can you put the link to the JIRA ticket here? This is not the same issue as the sorting issue I encountered, right? It's a major bug if participants can not see their dashboard. We should have the software team be aware of that and make it a critical bug with top priority.

[2019-11-04 21:47] thomasyu888 commented on #48
https://sagebionetworks.jira.com/browse/PLFM-5905
The fix is to add the missing annotation key for all submissions which is rather cumbersome. Those issues are linked.

[2019-11-04 22:29] thomasyu888 commented on #48
Do you know which dashboard it is?  Is it the UW dashboard?

[2019-11-04 23:07] tschaffter commented on #48
@trberg See Tom's comment. Can you confirm that the faulty dashboards are the ones on this page: https://www.synapse.org/#!Synapse:syn18405991/wiki/595490

[2019-11-04 23:10] tschaffter commented on #48
@trberg Is the issue affecting only a specific table?

[2019-11-08 02:30] trberg opened #49 "Timed out docker containers are not being stopped"
When containers run for more than the allotted time (10 hrs.) the toil workflow hook that is running the container is stopped but the submitted docker container is not. It will continue until the administrator manually kills it or it stops on its own.
This could be a problem if the workflow hook thinks that the still running container has been stopped and it pulls in a new submission leading to a

[2019-11-08 09:57] thomasyu888 commented on #39
Closing for now, since I implemented the workaround.

[2019-11-08 09:57] #39 closed

[2019-11-08 09:57] thomasyu888 commented on #47
https://github.com/Sage-Bionetworks/EHR-challenge/pull/7

[2019-11-14 16:52] tschaffter opened #50 "Release Webinar #2 material"
Release Webinar #2 material

- [x] Upload slides
- [x] Edit and upload webinar recording
- [x] Add announcement on to the discussion forum (https://www.synapse.org/#!Synapse:syn18405991/discussion/threadId=6288)

[2019-11-14 17:08] tschaffter opened #51 "Remove .DS_Store files from the GH repos of the baseline method"
Remove .DS_Store files from the GH repos of the baseline method

[2019-11-14 17:44] tschaffter commented on #50
[code]

[2019-11-14 18:27] #50 closed

[2019-11-15 21:49] yy6linda commented on #51
Resolved.

[2019-11-15 21:49] #51 closed

[2019-11-21 08:39] #47 closed

[2019-12-03 23:17] tschaffter opened #52 "Create poster for NeuroIPS"
## Guidelines from Justin G.
Ideally, the poster would only showcase the EHR Challenge as an example, but the poster would more generally highlight the M2D framework.

## Timeline
By the end of Mon Dec 9: poster ready for review

## Specifications
Posters are taped to the wall of the workshop room.  Posters should be on light weight paper, not laminated.  NeurIPS will provide the tape. Please make

[2019-12-03 23:19] #44 closed

[2019-12-03 23:20] tschaffter commented on #42
Done. Erick is now attending our weekly calls. We also have bi-weekly meetings that focus on tracking the progress done by Mount Sinai.

[2019-12-03 23:20] #42 closed

[2019-12-03 23:21] tschaffter commented on #41
Still waiting for on an update from WashU. I'll send another request for an update in the next 1-2 days.

[2019-12-04 20:34] #46 closed

[2019-12-04 20:34] #45 closed

[2019-12-12 15:33] tschaffter commented on #52
The poster is available here:

https://figshare.com/articles/The_model-to-data_paradigm_overcoming_data_access_barriers_in_biomedical_competitions/11351726

[2019-12-12 15:33] #52 closed

[2019-12-12 15:33] tschaffter opened #53 "Send email communication to announce results of Round 2"
- [x] Mirror wiki (new results and timeline update)
- [x] Send email communication

[2019-12-12 18:40] #53 closed

[2020-01-16 18:19] tschaffter commented on #36
## Update Jan 16, 2020

- We are working closely with Erick S. to onboard Mount Sinai. Erick is participating to our weekly calls. Tim, Erick and myself have also a bi-weekly call to discuss the implementation details.
- We have resumed discussion with WashU and have started the on boarding of Ricky and Albert.

[2020-01-16 18:19] tschaffter commented on #41
## Update Jan 16, 2020

- We have resumed discussion with WashU and have started the on boarding of Ricky and Albert.

[2020-01-16 18:21] tschaffter commented on #48
@thomasyu888 I believe that this issue has been fixed a long time ago. Can you provide a brief description of the solution for future references before closing this ticket? Thanks!

[2020-01-16 18:23] tschaffter opened #54 "Onboard Mount Sinai into the evaluation network"
## Update Jan 16, 2020

- We are working closely with Erick S. to prepare an EHR Data node for Mount Sinai. Erick is participating to our weekly meetings. Erick, Tim and I are also meeting bi-weekly to discuss the implementation details.

[2020-01-16 18:26] tschaffter commented on #49
@trberg I believe that this issue has been fixed a long time ago. Can you provide a brief description of the solution for future references before closing this ticket? Thanks!

[2020-01-16 19:10] thomasyu888 commented on #48
Please see linked jira. The solutions are there.

[2020-01-16 19:10] #48 closed

[2020-01-16 19:12] thomasyu888 commented on #49
I implemented a tool that looks at currently running docker containers-(I name the running containers with submission id).  If the submission is INVALID, then stop and remove the container.

[2020-01-16 19:12] #49 closed

[2020-01-16 22:48] tschaffter opened #55 "Update Validation Phase timeline"
Update:
- [x] timeline plot
- [x] timeline description
- [x] mirror wiki

[2020-01-16 23:15] tschaffter opened #56 "Add submission instructions for the Validation Phase"
- [x] Copy/paste instructions from MM Challenge
- [x] Update instructions
- [x] Tim and Yao to review and possibly tailor for EHR Challenge
- [x] Tim to complete FAQ, especially regarding what we will do if a model fail on the Validation Phase dataset
- [x] Mirror wiki

[2020-01-21 16:47] tschaffter opened #57 "Update US map illustration"
See email from Justin

[2020-01-21 16:51] tschaffter opened #58 "Validate deterministic models"
- [x] Check with Tom the feasibility of adding to the validation protocol a test to determine that the training program and inference program are deterministic before the start of the Validation Phase
- [ ] If possible, implement the test

[2020-01-21 17:34] tschaffter commented on #36
@jguinney Do you consider this task completed?

[2020-01-21 22:44] tschaffter commented on #58
See slides [Validating deterministic models](https://docs.google.com/presentation/d/1qBMAjvIRnf4EGPs8jPYbFWRdWOmWSuJUxFhxuoRrJJ4/edit#slide=id.g7cafb54b16_0_66)

[2020-01-21 22:48] tschaffter commented on #58
@trberg Could you have a look at the slides and let me know if you could implement the test proposed and run it on the results from Round 3? Depending on the fraction of non-deterministic models, we can decide whether or not implement this step for the Validation Phase. For now I wouldn't do it and keep the pipeline as similar as possible between the Leaderboard and Validation phase. However this

[2020-01-22 10:02] trberg commented on #57
US map illustration has been updated to reflect the new sites.

[2020-01-23 17:36] tschaffter commented on #57
Thanks @trberg ! I confirm the reception of the image via email. I have forwarded it to Justin.

[2020-01-23 17:36] #57 closed

[2020-02-04 16:57] tschaffter opened #59 "Create the overall Leaderboard table"
- [x] On the [Leaderboard](https://www.synapse.org/#!Synapse:syn18405992/wiki/589661) page, add a section called `Overall Leaderboard Phase`.
- [x] Create a table in that section from this [table](https://docs.google.com/spreadsheets/d/1JNd6M-Wm7EMMf-kHnRKKV6jE_P-baXSiO6vMvLAAfig/edit#gid=0) (G spreadsheet).
- [x] Add documentation to the section `Overall Leaderboard Phase` regarding the BF (Thoma

[2020-02-04 20:13] tschaffter opened #60 "Update write-up submission instructions"
We now want the participants to share their Synapse project (write-up) with the organizers as soon as they have submitted it. We need also to provide information on the validation process of the write-up.

On this staging page: https://www.synapse.org/#!Synapse:syn18405992/wiki/595123

- [x] Add information about 1) how to share the project and 2) the validation process (Thomas)
- [x] Create write

[2020-02-04 20:25] thomasyu888 commented on #60
I added the dashboard here: https://www.synapse.org/#!Synapse:syn18405992/wiki/594281, but the page looks good.

[2020-02-04 22:35] trberg commented on #60
Looks good!

[2020-02-05 20:58] tschaffter commented on #36
@jguinney Is this ticket still relevant?

[2020-03-16 14:57] #36 closed

[2020-03-16 14:57] tschaffter commented on #55
Done

[2020-03-16 14:57] #55 closed

[2020-03-16 14:58] tschaffter commented on #56
Done

[2020-03-16 14:58] #56 closed

[2020-03-16 14:59] #58 closed

[2020-03-16 15:02] tschaffter commented on #59
Done for the Leaderboard phase: https://www.synapse.org/#!Synapse:syn18405991/wiki/595487

[2020-03-16 15:02] #59 closed

[2020-03-16 15:02] tschaffter commented on #60
Done

[2020-03-16 15:02] #60 closed

[2020-03-16 15:15] tschaffter opened #61 "Design Collaborative Phase"
On Friday, @jguinney announced to CTSA that a collaborative phase will be held for the EHR DREAM Challenge: Patient Mortality Prediction.

## Tasks

- [x] Clarify timeline and objectives of collaborative phase

[2020-03-16 15:19] tschaffter opened #62 "Send update to participants"
On March 13, @trberg said that the Validation UW dataset is still no ready. I would like to send an email communication to participants to give them an update on Validation timeline + collaborative phase (#61 ).

## Tasks

- [x] Get timeline information from #61
- [ ] Get latest update from @trberg during today's meeting
- [ ] Draft email communication
- [ ] Send email communication

[2020-03-16 15:31] tschaffter opened #63 "Identify structure of final leaderboard"
Most importantly, we need to identify how to report the significance of AUROC and AUPR between teams.

1. In past challenges, the performance of a given team is usually compared to the performance of the top best performer. The information provided is thus whether a give team is significantly outperformed by the top best performer. All teams are then ranked based on their primary metrics without a

[2020-03-16 15:33] tschaffter opened #64 "Finalize UW Validation Dataset"
Tim is working on finalizing the UW dataset to evaluate the final submission to the EHR DREAM Challenge: Patient Mortality Prediction.

High-level updates may be reported here (do not share sensitive information in this public repos).

[2020-03-16 15:34] tschaffter opened #65 "Evaluate the performance of the final models in the competitive phase"
Depends on #64

[2020-03-16 15:47] tschaffter commented on #61
The collaborative phase will be mainly dedicated to writing the manuscript, while still requiring additional performance analysis (e.g. profile method performance).

[2020-03-16 15:47] #61 closed

[2020-04-13 16:53] tschaffter commented on #65
## Update

From Tim:

[2020-04-13 16:53] #41 closed

[2020-04-13 16:53] #54 closed

[2020-04-13 16:54] tschaffter commented on #62
Email communication has been sent a month ago.

[2020-04-13 16:54] #62 closed

[2020-04-13 16:58] tschaffter commented on #64
## Update

- Tim is evaluating the final methods on the final dataset. When a method fails, Tim looks at the dataset and usually the issue can be resolved by updating the format of the dataset so that it reflects better the format used in the Leaderboard phase.

[2020-04-13 17:49] trberg commented on #64
## Update
All models except two have successfully run on the validation dataset. I have reached out to the HELM team and am trying an older model that passed the leaderboard phase from PnP_India to make sure that it can pass on the validation data.

[2020-04-14 18:51] tschaffter commented on #64
## Update

@trberg will further compare the content of the training set in the leaderboard phase and the slightly smaller version of it in the validation phase.

[2020-04-14 18:54] tschaffter commented on #65
## Update

- There are still two submission failing: one that places 5th in the leaderboard phase and one with poor performance in the leaderboard phase
- @trberg will reach out to the developers of these teams to see if they can fix their model after Tim has identified more info about the issues. Dev would then resubmit the method.
- If one of the two methods places in top 3, double check that th

[2020-04-20 14:56] tschaffter opened #66 "Identify the timeline for after the release of the final results"
- [x] Contact Justin and Sean regarding the timeline for publishing the landscape manuscript
- [x] Figure out how to address the Milestone "Packages for DREAM Challenge on EHR data"
- [x] Share this information with the participants

## Depends on

- #65

[2020-04-22 15:02] #64 closed

[2020-04-22 15:03] tschaffter commented on #63
Same structure as for the Leaderboard Overall results

[2020-04-22 15:03] #63 closed

[2020-04-22 15:03] #65 closed

[2020-04-27 20:20] tschaffter opened #67 "Tim to reach out to Medil team"

[2020-04-27 20:31] tschaffter opened #68 "Define framework for collaborative phase"
- Survey (Thomas, Tim, Yao)
- Ensemble model (can be done today, Yao)
- Collaborative model
- Structure of the manuscript
  - List of figures (Thomas, Tim)
  - Additional data (until publication of the manuscript, Tim)
  - Target journal: Nature Methods, JAMA Network Open, NEJM
- Bioarchive within six months

[2020-04-30 15:33] tschaffter opened #69 "Ensembling prediction from the final round"
- Unweighted ensemble
  - [x] Ensemble prediction from all submitted methods (see References for the methods)
  - [ ] Ensemble predictions from top 1, top 2, top 3, etc.
- Unweighted ensemble
  - [x] Ensemble prediction from all submissions with weight *w* where *w* is the AUROC value of the method on the Leaderboard Evaluation set. Do a similar ensemble using the AUPR value as the weight and repo

[2020-05-05 00:40] tschaffter commented on #66
The final results are now available on the challenge site.

[2020-05-05 00:40] #66 closed

[2020-05-05 00:41] tschaffter commented on #67
Tim reached out to Medil and they answered back.

[2020-05-05 00:41] #67 closed

[2020-05-05 00:41] tschaffter commented on #68
## Update

- The final results of the competitive phase are now available.
- We will reach out to the top 5 best performing teams to invite them to join the collaborative phase.

[2020-05-07 00:53] yy6linda commented on #69
Please see this slide for ensembled model results. [Link](https://docs.google.com/presentation/d/1DuU43vUj878xWRCBdYldxXfQeI3wVse_3ipwWZzM3cM/edit#slide=id.g7757ceb7c4_0_183)

[2020-05-07 00:54] #69 closed

[2020-05-27 18:52] tschaffter commented on #68
## Update

- Today we launch the collaborative phase of the challenge with the participants
- Presented the above Proposed Activities & Timeline (manuscript submitted by end of September)
- Invited participants to share ideas of additional Activities by the next meeting

[2020-05-27 18:52] #68 closed

[2020-05-31 15:59] tschaffter opened #70 "Prepare tools for the collaborative phase"
- [ ] Create Slack workspace / channel to interact with participants
- [ ] Create Zoom calendar invite
- [ ] Create shared Google folder
- [ ] Create Google doc for the agenda
- [ ] Create Google sheet for list of members and contact info

[2020-05-31 16:00] mellybelly commented on #70
@tschaffter consider coordinating with @andrewjneumann to coalesce things/double file for easy navigation in N3C space. we want to encourage participation!

[2020-05-31 16:01] tschaffter commented on #70
## Update

- Zoom meeting: waiting on reply from Xengie regarding use of Zoom componc account
- Will ask participants for the email addresses that we should use to invite them to the Google folder. Tim will have to set Sharing permission as I don't have them (UW G Drive).

[2020-06-01 03:19] tschaffter commented on #70
Hi @andrewjneumann, see Melissa's message above. Last week, we have officially started the collaborative phase of the [EHR DREAM Challlenge: Patient Mortality Prediction](https://www.synapse.org/ehr_dream_challenge_mortality). In this phase, 14 developers of EHR models from the top five best-performing teams in the competitive phase and the organizers of the challenge will collaborate on analyzing

[2020-06-04 18:24] andrewjneumann commented on #70
@tschaffter Yes! Thank you, I think it'd be great to include a results discussion. Happy to share N3C info: https://covid.cd2h.org/N3C_analytics (Clinical Scenarios & Data Analytics subgroup & https://covid.cd2h.org/N3C_synthetic_data are of probably the most interest for folks)... if there's a mailing list or a standing meeting of folks happy to chat and answer questions.